hubspot-sys-api/src/main/mule/hubspot-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:hubspot-system-api="http://www.mulesoft.org/schema/mule/hubspot-system-api" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/hubspot-system-api http://www.mulesoft.org/schema/mule/hubspot-system-api/current/mule-hubspot-system-api.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="hubspot-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="hubspot-system-api-config" api="resource::b548953f-1a69-4c64-a3cd-f964e0b8c0a0:hubspot-system-api:3.0.15:raml:zip:hubspot-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="02a1fe94-55df-4ae8-a965-c675af4e4321" file="configuration.yaml" />
    <api-gateway:autodiscovery apiId="${api_autodiscovery}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="ab5d672e-97b4-4ae4-9960-23fa70cb263b" flowRef="hubspot-system-api-main" />
    <hubspot-system-api:config name="Hubspot_System_API_Config" doc:name="Hubspot System API Config" doc:id="5512c913-b533-4f6c-b5e5-4139082bd93d" property_host="api.hubapi.com" property_basePath="/crm/v3/objects/" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="14a55198-87b1-475a-86b9-31cad60fdcc3">
        <http:request-connection protocol="HTTPS">
            <tls:context>
                <tls:trust-store insecure="true" />
            </tls:context>
        </http:request-connection>
    </http:request-config>
    <flow name="hubspot-system-api-main">
        <http:listener config-ref="hubspot-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hubspot-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hubspot-system-api-console">
        <http:listener config-ref="hubspot-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hubspot-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\companies\(companyId):hubspot-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="companyId">attributes.uriParams.'companyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:archive-company doc:name="Archive Company" doc:id="8361b22e-ad53-4180-9d6a-64973035cc98" config-ref="Hubspot_System_API_Config" company-id="#[attributes.uriParams.companyId]" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="delete:\companies\(companyId):hubspot-system-api-config" />
    </flow>
    <flow name="delete:\contacts\(contactId):hubspot-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="contactId">attributes.uriParams.'contactId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:archive-contact doc:name="Archive Contact" doc:id="f69c1cd5-9878-4b38-a30a-48fef8fd57bb" config-ref="Hubspot_System_API_Config" contact-id="#[attributes.uriParams.contactId]" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="delete:\contacts\(contactId):hubspot-system-api-config" />
    </flow>
    <flow name="patch:\companies\(companyId):application\json:hubspot-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"properties": {
	hs_lastmodifieddate: payload.hs_lastmodifieddate,
	city: payload.city,
	phone: payload.phone,
	domain: payload.domain,
	name: payload.name,
	industry: payload.industry,
	state: payload.state
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="companyId"><![CDATA[attributes.uriParams.'companyId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:update-company doc:name="Update Company" doc:id="3f4e1a1f-c798-4a62-91bf-d8282dd8ab38" config-ref="Hubspot_System_API_Config" company-id="#[attributes.uriParams.companyId]" content-type="#[attributes.headers.&quot;Content-Type&quot;]" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="patch:\companies\(companyId):application\json:hubspot-system-api-config" />
    </flow>
    <flow name="get:\companies:hubspot-system-api-config">
        <hubspot-system-api:list-companies doc:name="List Companies" doc:id="2ee96ea4-6ad7-4282-a339-ec9971929d34" config-ref="Hubspot_System_API_Config" properties="#[attributes.queryParams.properties]" associations="#[attributes.queryParams.associations]" hapikey="${hapi_key}" limit="#[attributes.queryParams.limit]" after="#[attributes.queryParams.after]" paginate-associations="#[attributes.queryParams.paginateAssociations]" archived="#[attributes.queryParams.archived]" />
        <logger level="INFO" message="get:\companies:hubspot-system-api-config" />
    </flow>
    <flow name="get:\contacts:hubspot-system-api-config">
        <hubspot-system-api:list-contacts doc:name="List Contacts" doc:id="d47bff30-2063-4dc2-ae81-d13d9ca95d1f" config-ref="Hubspot_System_API_Config" properties="#[attributes.queryParams.properties]" associations="#[attributes.queryParams.associations]" paginate-associations="#[attributes.queryParams.paginateAssociations]" hapikey="#[attributes.queryParams.hapikey]" archived="#[attributes.queryParams.archived]" />
        <logger level="INFO" message="get:\contacts:hubspot-system-api-config" />
    </flow>
    <flow name="get:\companies\(companyId):hubspot-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="companyId">attributes.uriParams.'companyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:read-company doc:name="Read company" doc:id="5fa4bf01-28bc-4411-8a7c-e019c5c4e27e" config-ref="Hubspot_System_API_Config" properties="#[attributes.queryParams.properties]" associations="#[attributes.queryParams.associations]" company-id="#[attributes.uriParams.companyId]" id-property="#[attributes.queryParams.idProperty]" hapikey="${hapi_key}" paginate-associations="#[attributes.queryParams.paginateAssociations]" archived="#[attributes.queryParams.archived]" />
        <logger level="INFO" message="get:\companies\(companyId):hubspot-system-api-config" />
    </flow>
    <flow name="get:\contacts\(contactId):hubspot-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="contactId">attributes.uriParams.'contactId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:read-contact doc:name="Read contact" doc:id="4efee6db-5d27-45c6-af50-e236eaeb509e" config-ref="Hubspot_System_API_Config" contact-id="#[vars.contactId]" hapikey="#[attributes.queryParams.hapikey]" id-property="#[attributes.queryParams.idProperty]" paginate-associations="#[attributes.queryParams.paginateAssociations]" archived="#[attributes.queryParams.archived]" properties="#[attributes.queryParams.properties]" associations="#[attributes.queryParams.associations]" />
        <logger level="INFO" message="get:\contacts\(contactId):hubspot-system-api-config" />
    </flow>
    <flow name="post:\companies:application\json:hubspot-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="704a761e-fe51-4d77-9065-3d05a9eecc5d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"properties": {
	city: payload.city,
	phone: payload.phone,
	domain: payload.domain,
	name: payload.name,
	createdate: payload.createdate default "",
	industry: payload.industry,
	state: payload.state
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <hubspot-system-api:create-company doc:name="Create Company" doc:id="efeafc15-2145-4388-a391-269406533249" config-ref="Hubspot_System_API_Config" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="post:\companies:application\json:hubspot-system-api-config" />
    </flow>
    <flow name="patch:\contacts\(contactId):application\json:hubspot-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"properties": {
	firstname: payload.firstname,
	website: payload.website,
	phone: payload.phone,
	company: payload.company,
	email: payload.email,
	lastname: payload.lastname
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="contactId"><![CDATA[attributes.uriParams.'contactId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <hubspot-system-api:update-contact doc:name="Update Contact" doc:id="8d54bead-c00e-49c9-8428-6ac0a6d56582" config-ref="Hubspot_System_API_Config" contact-id="#[attributes.uriParams.contactId]" content-type="#[attributes.headers.&quot;Content-Type&quot;]" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="patch:\contacts\(contactId):application\json:hubspot-system-api-config" />
    </flow>
    <flow name="post:\contacts:application\json:hubspot-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d522a825-6cf2-457b-9019-3b8c5d068bdd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"properties": {
	firstname: payload.firstname,
	website: payload.website,
	phone: payload.phone,
	company: payload.company,
	email: payload.email,
	lastname: payload.lastname
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <hubspot-system-api:create-contact doc:name="Create Contact" doc:id="a8f6d14b-a2b8-4537-966f-34dc848a3bad" config-ref="Hubspot_System_API_Config" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="post:\contacts:application\json:hubspot-system-api-config" />
    </flow>
    <flow name="post:\companies\search:application\json:hubspot-system-api-config">
        <hubspot-system-api:filter-sort-and-search-crm-objects doc:name="Filter, Sort, and Search CRM Objects" doc:id="bb2b5d10-be49-45da-987b-937f6328a16f" config-ref="Hubspot_System_API_Config" hapikey="#[attributes.queryParams.hapikey]" />
        <logger level="INFO" message="post:\companies\search:application\json:hubspot-system-api-config" />
    </flow>
</mule>
