.tooling-apps-cache/app/netsuite-to-hubspot-process-api/META-INF/mule-src/template-nets2sfdc-customer2account-broadcast/src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:hubspot-system-api="http://www.mulesoft.org/schema/mule/hubspot-system-api"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/hubspot-system-api http://www.mulesoft.org/schema/mule/hubspot-system-api/current/mule-hubspot-system-api.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e3037ff4-8e2f-43f4-8379-5dd0b0412564" >
		<http:request-connection protocol="HTTPS" host="api.hubapi.com" port="443"/>
	</http:request-config>
	<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
		<batch:job jobName="migrateAccountsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
			<batch:process-records>
				<batch:step name="queryAccountInHubspotStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<set-variable value="#[payload]" doc:name="Save Netsuite Payload" doc:id="c9947c0f-fb2f-485b-9e86-4a9f9fdc0b3d" variableName="netsuitePayload"/>
					<hubspot-system-api:filter-sort-and-search-crm-objects doc:name="Filter, Sort, and Search CRM Objects" doc:id="1f9f62e5-fcac-4b72-8b37-1bdd3e7da598" config-ref="Hubspot_System_API_Config" hapikey="5bb0c26b-d0f6-4ca8-a69a-edcf77a0eb24">
						<hubspot-system-api:filter-sort-and-search-crm-objects-request-data ><![CDATA[#[%dw 2.0
output application/json
---
{
  "filterGroups": [
    {
      "filters": [
        {
          "value": payload.companyName,
          "propertyName": "name",
          "operator": "EQ"
        }
      ]
    }
  ],
  "properties": [
    "name",
    "email",
    "state"
  ]
}]]]></hubspot-system-api:filter-sort-and-search-crm-objects-request-data>
					</hubspot-system-api:filter-sort-and-search-crm-objects>
					<set-variable value="#[payload]" doc:name="Save Hubspot Payload" doc:id="9f7b86e5-f47b-4ac7-a2b6-d5d17d1546ad" variableName="hubspotPayload"/>
					<choice doc:name="Choice" doc:id="4a1ffe3e-073d-4a0b-83df-936c90f8936d" >
						<when expression="#[payload.total &gt; 0]">
							<ee:transform doc:name="Transform Message" doc:id="d5b34291-531e-488d-ac07-f68a35a8b089">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	hs_lastmodifieddate: vars.netsuitePayload.lastModifiedDate,
	createdate: now(),
	city: vars.netsuitePayload.city default "",
	phone: vars.netsuitePayload.phone default "" ,
	domain: vars.netsuitePayload.url default "",
	name: vars.netsuitePayload.companyName default "",
	industry: vars.netsuitePayload.alcoholRecipientType default "",
	state: vars.netsuitePayload.state default ""
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<hubspot-system-api:update-company doc:name="Update Company" doc:id="c50fe96b-a71c-4ffe-9617-3994891778e5" config-ref="Hubspot_System_API_Config" company-id="#[vars.hubspotPayload.results[0].id]" content-type="application/json" hapikey="5bb0c26b-d0f6-4ca8-a69a-edcf77a0eb24"/>
						</when>
						<otherwise >
							<ee:transform doc:name="Transform Message" doc:id="690a38a2-4913-474f-ab3c-cee9ecc13d96">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	city: vars.netsuitePayload.city default "",
	phone: vars.netsuitePayload.phone default "" ,
	domain: vars.netsuitePayload.url default "",
	name: vars.netsuitePayload.companyName default "",
	industry: vars.netsuitePayload.alcoholRecipientType default "",
	state: vars.netsuitePayload.state default ""
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<hubspot-system-api:create-company doc:name="Create Company" doc:id="77aeb92d-0ac7-4c91-84a3-bc1d68df3018" config-ref="Hubspot_System_API_Config" hapikey="5bb0c26b-d0f6-4ca8-a69a-edcf77a0eb24"/>
						</otherwise>
					</choice>
					<ee:transform doc:name="Transform Message" doc:id="8d44e749-0d4f-4a22-8e05-e3973bb7de52" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="20a10b84-3033-4e7d-88c0-e5febfcd8fd8" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result"
					doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"NetSuite to HubSpot Sync Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Migration process has been finished!"
					doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has been finished: #[payload]" />

			</batch:on-complete>

		</batch:job>
	</flow>

</mule>
